<div class="flex h-12 cursor-pointer" id="type">
    <a href="/login" class="flex-1 text-center uppercase text-xs font-bold relative">
        Đăng nhập
        <div class="my_seperate"></div>

        <!-- show if div is selected -->
        <div class="my__select"></div>
    </a>
    <a href="/register" class="flex-1 text-center uppercase text-xs relative text-blue-600">Đăng ký</a>
</div>

<div class="px-4 pb-1">
    <div class="pt-5 pb-1 border-b mb-2">
        <i class='bx bx-mobile-alt text-gray-500 text-sm pr-2'></i>
        <input type="text" class="outline-none" id="username" placeholder="Email hoặc số điện thoại">
    </div>
    <div class="pt-4 pb-1 border-b mb-2">
        <i class='bx bxs-lock text-gray-500 text-sm pr-2' ></i>
        <input type="text" class="outline-none" id="password" placeholder="Mật khẩu">
    </div>
    <div>
        <button class="bg-blue-300 w-full mt-4 h-11 text-white rounded mb-2" id="btn_login">Đăng nhập</button>
    </div>
    <div>
        <button class="bg-red-300 w-full mt-4 h-11 text-white rounded mb-2" id="btn_signInWithGG">Sign in with Google</button>
    </div>
    <p class="text-center m-4">
        <a href="#">Quên mật khẩu?</a>
    </p>
</div>